USE [master]
GO
/****** Object:  Database [Demo_simpleWebAPI]    Script Date: 28/11/2024 7:50:29 CH ******/
CREATE DATABASE [Demo_simpleWebAPI]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Demo_simpleWebAPI', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\Demo_simpleWebAPI.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Demo_simpleWebAPI_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\Demo_simpleWebAPI_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Demo_simpleWebAPI].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Demo_simpleWebAPI]
GO
/****** Object:  Table [dbo].[brands]    Script Date: 28/11/2024 7:50:29 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[brands](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_brands] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[products]    Script Date: 28/11/2024 7:50:29 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[products](
	[Id] [int] NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Description] [nvarchar](max) NOT NULL,
	[Price] [decimal](16, 0) NOT NULL,
	[BrandID] [varchar](20) NOT NULL,
 CONSTRAINT [PK_products_1] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[brands] ON 

INSERT [dbo].[brands] ([Id], [Name]) VALUES (1, N'Heineken Beer')
INSERT [dbo].[brands] ([Id], [Name]) VALUES (2, N'Tiger Beer')
INSERT [dbo].[brands] ([Id], [Name]) VALUES (3, N'Bia Sài Gòn')
SET IDENTITY_INSERT [dbo].[brands] OFF
GO
INSERT [dbo].[products] ([Id], [Name], [Description], [Price], [BrandID]) VALUES (1, N'Ken Bạc', N'Bia đắt vãi ò', CAST(20000 AS Decimal(16, 0)), N'HEINEKEN')
INSERT [dbo].[products] ([Id], [Name], [Description], [Price], [BrandID]) VALUES (2, N'Bia 333', N'Bia nặng vãi ò', CAST(13000 AS Decimal(16, 0)), N'SAIGON')
INSERT [dbo].[products] ([Id], [Name], [Description], [Price], [BrandID]) VALUES (3, N'Tiger Bạc', N'Không ngon lắm', CAST(18000 AS Decimal(16, 0)), N'TIGER')
GO
USE [master]
GO
